
<h1>Movies</h1>
<h4>listing generated at: <%= Time.now %> </h4>
<p>Zeige folgende  <%= @movies.size %> Movies an:
	<table>
		<tr>
			<th>Titel</th>
			<th>Rating</th>
			<th>Einnahmen</th>
			<th>Beschreibung</th>
			<th>Erscheinungdatum</th>
			<th>website</th>
			<th>Pledging</th>


		</tr>	

 		
		<% @movies.each do |movie| %>
		<tr>			
			<td><%= movie.title %></td>
			<td><%= movie.rating %></td>
			<td><%= number_to_currency(movie.total_gross, unit: "€") %></td>
			<td><%= truncate(movie.description, length: 25, seperator: ' ') %></td>
			<td><%= movie.released_on %></td>
			<td><a href = "<% movie.website %>" > <%= movie.website %> </a></td>
			<td><%= movie.pledging_ends_on %></td>



		</tr>

			<% end%>	
	</table>
</p>