<%= form_for(@event) do |f| %>
	
<%= render "shared/errors", obj_errors: @event %> 		#Einbinden des errors.html.erb 
		

	<%	end %>
	
	<div class="row">
		<div class="medium-2 columns">
			<%=f.label :Beschreibung %>
		</div>
		<div class="medium-10 columns">
			<%=f.text_area :description, :size => "15x2" %>
		</div>

	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%=f.label :Name %>
		</div>
		
		<div class="medium-10 columns">
			<%=f.text_field :name %>
		</div>

	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%=f.label :Ort %>
		</div>

		<div class="medium-10 columns">
			<%=f.text_field :location %>
		</div>
	</div>
	

	<div class="row">
		<div class="medium-2 columns">
			<%=f.label :Preis %>
		</div>
		<div class="medium-10 columns">
			<%=f.number_field :price %>
		</div>
	</div>
	

	<div class="row">
		<div class="medium-2 columns">
			<%=f.label :Uhrzeit %>
		</div>
		<div class="medium-10 columns">
			<%=f.datetime_select :start_at %>		
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%=f.label :Bilddatei %>
		</div>
		<div class="medium-10 columns">
			<%=f.text_field :image_file, placeholder: "gif,jpg,png Dateiname" %>
		</div>

	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%=f.label :Kapazität %>
		</div>
		<div class="medium-10 columns">
			<%=f.number_field :capacity %>
		</div>

	</div>

	

<div class="row">
		<div class="medium-2 columns">
			
		</div>
		<div class="medium-10 columns">
			<%=f.submit "Absenden" %>
		</div>

	</div>

<% end %>