<%= form_for(@schueler) do |f| %>
  <% if @schueler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schueler.errors.count, "error") %> prohibited this schueler from being saved:</h2>

      <ul>
      <% @schueler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vorname %><br>
    <%= f.text_field :vorname %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :geburtsdatum %><br>
    <%= f.datetime_select :geburtsdatum %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :passwort %><br>
    <%= f.text_field :passwort %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
