<p id="notice"><%= notice %></p>

<h1>Listing Schuelers</h1>

<table>
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Name</th>
      <th>Geburtsdatum</th>
      <th>Email</th>
      <th>Passwort</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schuelers.each do |schueler| %>
      <tr>
        <td><%= schueler.vorname %></td>
        <td><%= schueler.name %></td>
        <td><%= schueler.geburtsdatum %></td>
        <td><%= schueler.email %></td>
        <td><%= schueler.passwort %></td>
        <td><%= link_to 'Show', schueler %></td>
        <td><%= link_to 'Edit', edit_schueler_path(schueler) %></td>
        <td><%= link_to 'Destroy', schueler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schueler', new_schueler_path %>
