<%= form_for(@project) do |f| %>

<%= render "errors" %>

<div class="row">
	<div class="medium-2 columns">
		<%=f.label :Titel %>
	</div>
	<div class="medium-10 columns">
		<%=f.text_field :title %>		<br/><br/>	
	</div>
</div>


<div class="row">
	<div class="medium-2 columns">
		<%=f.label :Beschreibung %>
	</div>
	<div class="medium-10 columns">
		<%=f.text_area :description %>	<br/>	<br/>	
	</div>
</div>

<div class="row">
	<div class="medium-2 columns">
		<%=f.label :Startzeit %>
	</div>
	<div class="medium-10 columns">
		<%=f.date_select :start_date %>	<br/>	<br/>	
	</div>
</div>

<div class="row">
	<div class="medium-2 columns">
	</div>
	<div class="medium-10 columns">
		<% if request.path =="/projects/new" %>
			<%=f.submit "Projekt anlegen" %> 
		<% else %>
			<%=f.submit "Projekt aktualisieren"%>
		<% end %>	
	</div>
</div>

<% end %>



